*.tlog
*.log
APEX_1.4/bin/vc14win64-PhysX_3.4/APEX_ClothingDEBUG_x64_glm.dll
APEX_1.4/bin/vc14win64-PhysX_3.4/APEX_ClothingPROFILE_x64_glm.dll
APEX_1.4/bin/vc14win64-PhysX_3.4/APEX_DestructibleDEBUG_x64_glm.dll
APEX_1.4/bin/vc14win64-PhysX_3.4/APEX_DestructiblePROFILE_x64_glm.dll
APEX_1.4/bin/vc14win64-PhysX_3.4/APEX_LegacyDEBUG_x64_glm.dll
APEX_1.4/bin/vc14win64-PhysX_3.4/APEX_LegacyPROFILE_x64_glm.dll
APEX_1.4/bin/vc14win64-PhysX_3.4/ApexFrameworkDEBUG_x64_glm.dll
APEX_1.4/bin/vc14win64-PhysX_3.4/ApexFrameworkPROFILE_x64_glm.dll
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_ClothingDEBUG_x64_glm.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_ClothingDEBUG_x64_glm.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_ClothingPROFILE_x64_glm.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_ClothingPROFILE_x64_glm.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_DestructibleDEBUG_x64_glm.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_DestructibleDEBUG_x64_glm.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_DestructiblePROFILE_x64_glm.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_DestructiblePROFILE_x64_glm.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_LegacyDEBUG_x64_glm.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_LegacyDEBUG_x64_glm.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_LegacyPROFILE_x64_glm.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_LegacyPROFILE_x64_glm.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_LoaderDEBUG_x64.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_LoaderDEBUG_x64.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_LoaderPROFILE_x64.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/APEX_LoaderPROFILE_x64.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/ApexCommonDEBUG.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/ApexCommonPROFILE.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/ApexFrameworkDEBUG_x64_glm.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/ApexFrameworkDEBUG_x64_glm.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/ApexFrameworkPROFILE_x64_glm.exp
APEX_1.4/lib/vc14win64-PhysX_3.4/ApexFrameworkPROFILE_x64_glm.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/ApexSharedDEBUG.lib
APEX_1.4/lib/vc14win64-PhysX_3.4/ApexSharedPROFILE.lib
APEX_1.4/NvParameterized/lib/vc14win64/NvParameterizedDEBUG.lib
APEX_1.4/NvParameterized/lib/vc14win64/NvParameterizedPROFILE.lib
APEX_1.4/shared/general/RenderDebug/lib/vc14win64/RenderDebugDEBUG.lib
APEX_1.4/shared/general/RenderDebug/lib/vc14win64/RenderDebugPROFILE.lib
PhysX_3.4/Bin/vc14win64/glm_PhysX3CharacterKinematicDEBUG_x64.dll
PhysX_3.4/Bin/vc14win64/glm_PhysX3CharacterKinematicDEBUG_x64.map
PhysX_3.4/Bin/vc14win64/glm_PhysX3CharacterKinematicPROFILE_x64.dll
PhysX_3.4/Bin/vc14win64/glm_PhysX3CharacterKinematicPROFILE_x64.map
PhysX_3.4/Bin/vc14win64/glm_PhysX3CommonDEBUG_x64.dll
PhysX_3.4/Bin/vc14win64/glm_PhysX3CommonDEBUG_x64.map
PhysX_3.4/Bin/vc14win64/glm_PhysX3CommonPROFILE_x64.dll
PhysX_3.4/Bin/vc14win64/glm_PhysX3CommonPROFILE_x64.map
PhysX_3.4/Bin/vc14win64/glm_PhysX3CookingDEBUG_x64.dll
PhysX_3.4/Bin/vc14win64/glm_PhysX3CookingDEBUG_x64.map
PhysX_3.4/Bin/vc14win64/glm_PhysX3CookingPROFILE_x64.dll
PhysX_3.4/Bin/vc14win64/glm_PhysX3CookingPROFILE_x64.map
PhysX_3.4/Bin/vc14win64/glm_PhysX3DEBUG_x64.dll
PhysX_3.4/Bin/vc14win64/glm_PhysX3DEBUG_x64.map
PhysX_3.4/Bin/vc14win64/glm_PhysX3PROFILE_x64.dll
PhysX_3.4/Bin/vc14win64/glm_PhysX3PROFILE_x64.map
PhysX_3.4/Lib/vc14win64/glm_PhysX3CharacterKinematicDEBUG_x64.exp
PhysX_3.4/Lib/vc14win64/glm_PhysX3CharacterKinematicDEBUG_x64.lib
PhysX_3.4/Lib/vc14win64/glm_PhysX3CharacterKinematicPROFILE_x64.exp
PhysX_3.4/Lib/vc14win64/glm_PhysX3CharacterKinematicPROFILE_x64.lib
PhysX_3.4/Lib/vc14win64/glm_PhysX3CommonDEBUG_x64.exp
PhysX_3.4/Lib/vc14win64/glm_PhysX3CommonDEBUG_x64.lib
PhysX_3.4/Lib/vc14win64/glm_PhysX3CommonPROFILE_x64.exp
PhysX_3.4/Lib/vc14win64/glm_PhysX3CommonPROFILE_x64.lib
PhysX_3.4/Lib/vc14win64/glm_PhysX3CookingDEBUG_x64.exp
PhysX_3.4/Lib/vc14win64/glm_PhysX3CookingDEBUG_x64.lib
PhysX_3.4/Lib/vc14win64/glm_PhysX3CookingPROFILE_x64.exp
PhysX_3.4/Lib/vc14win64/glm_PhysX3CookingPROFILE_x64.lib
PhysX_3.4/Lib/vc14win64/glm_PhysX3DEBUG_x64.exp
PhysX_3.4/Lib/vc14win64/glm_PhysX3DEBUG_x64.lib
PhysX_3.4/Lib/vc14win64/glm_PhysX3PROFILE_x64.exp
PhysX_3.4/Lib/vc14win64/glm_PhysX3PROFILE_x64.lib
PhysX_3.4/Lib/vc14win64/LowLevelAABBDEBUG.lib
PhysX_3.4/Lib/vc14win64/LowLevelAABBPROFILE.lib
PhysX_3.4/Lib/vc14win64/LowLevelClothDEBUG.lib
PhysX_3.4/Lib/vc14win64/LowLevelClothPROFILE.lib
PhysX_3.4/Lib/vc14win64/LowLevelDEBUG.lib
PhysX_3.4/Lib/vc14win64/LowLevelDynamicsDEBUG.lib
PhysX_3.4/Lib/vc14win64/LowLevelDynamicsPROFILE.lib
PhysX_3.4/Lib/vc14win64/LowLevelParticlesDEBUG.lib
PhysX_3.4/Lib/vc14win64/LowLevelParticlesPROFILE.lib
PhysX_3.4/Lib/vc14win64/LowLevelPROFILE.lib
PhysX_3.4/Lib/vc14win64/PhysX3ExtensionsDEBUG.lib
PhysX_3.4/Lib/vc14win64/PhysX3ExtensionsPROFILE.lib
PhysX_3.4/Lib/vc14win64/PhysX3VehicleDEBUG.lib
PhysX_3.4/Lib/vc14win64/PhysX3VehiclePROFILE.lib
PhysX_3.4/Lib/vc14win64/SceneQueryDEBUG.lib
PhysX_3.4/Lib/vc14win64/SceneQueryPROFILE.lib
PhysX_3.4/Lib/vc14win64/SimulationControllerDEBUG.lib
PhysX_3.4/Lib/vc14win64/SimulationControllerPROFILE.lib
PhysX_3.4/Source/compiler/vc14win64/PhysX.vcxproj.user
PxShared/bin/vc14win64/glm_PxFoundationDEBUG_x64.dll
PxShared/bin/vc14win64/glm_PxFoundationPROFILE_x64.dll
PxShared/bin/vc14win64/glm_PxPvdSDKDEBUG_x64.dll
PxShared/bin/vc14win64/glm_PxPvdSDKPROFILE_x64.dll
PxShared/lib/vc14win64/glm_PxFoundationDEBUG_x64.exp
PxShared/lib/vc14win64/glm_PxFoundationDEBUG_x64.lib
PxShared/lib/vc14win64/glm_PxFoundationPROFILE_x64.exp
PxShared/lib/vc14win64/glm_PxFoundationPROFILE_x64.lib
PxShared/lib/vc14win64/glm_PxPvdSDKDEBUG_x64.exp
PxShared/lib/vc14win64/glm_PxPvdSDKDEBUG_x64.lib
PxShared/lib/vc14win64/glm_PxPvdSDKPROFILE_x64.exp
PxShared/lib/vc14win64/glm_PxPvdSDKPROFILE_x64.lib
PxShared/lib/vc14win64/PsFastXmlDEBUG_x64.lib
PxShared/lib/vc14win64/PsFastXmlPROFILE_x64.lib
PxShared/lib/vc14win64/PxTaskDEBUG_x64.lib
PxShared/lib/vc14win64/PxTaskPROFILE_x64.lib
*.res
